# Loading Data

In [3]:
import pandas as pd

#DataFrame usando uma função do pandas para ler csv
df = pd.read_csv('pokemon_data.csv')

# Reading Data

In [39]:
##Read headers
##print(df.columns)

##Ler cada Coluna
##print(df[['Name','Type 1','HP']])

##Ler cada linha
#print(df.iloc[0:4])

#for index, row in df.iterrows():
#    print(index,row['Name'])

df.loc[df['Type 1'] == 'Ghost']

##Especificar a localização (L,C)
#print(df.iloc[2,1])

# Sorting describing Data

In [41]:
#df.describe()

df.sort_values(['Type 1','HP'], ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
314,290,Nincada,Bug,Ground,31,45,90,30,30,40,3,False
462,415,Combee,Bug,Flying,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,30,45,59,30,39,57,5,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False

# Making Changes to the Data

In [51]:
#df['TotalStatus'] = df ['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

#df.drop(columns=['Total'])

df['TotalStatus'] = df.iloc[:, 4:9].sum(axis=1) #better huh?

cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]]+cols[4:12]]

df.head(5)

,#,Name,Type 1,Type 2,TotalStatus,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,273,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,345,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,445,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,545,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,244,39,52,43,60,50,65,1,False

# Saving/exporting Data

In [7]:
#df.to_csv('modified.csv', index=False)

#df.to_excel('modified.xlsx', index=False)

#df.to_csv('modified.txt', index=False, sep='\t')

# Filtering data

In [36]:
#new_df = df.loc[(df['Type 1']=='Grass') & (df['Type 2'] == 'Poison') & (df['HP']>70)]
import re

df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

#new_df.to_csv('filtered.csv')

#new_df.reset_index(drop=True, inplace=True)

#new_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False

# Conditional Changes

In [47]:
#df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'
#df

df = pd.read_csv('modified.csv')

#df.loc[df['Total'] > 500, ['Generation','Legendary']] = ['Test 1', 'Test 2']

# Aggregate Statistics(Groupby)

In [53]:
df = pd.read_csv('modified.csv')

df['count'] = 1

df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

# Working with large amounts of data

In [56]:
new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('modified.csv', chunksize=5):
    results = df.groupby(['Type 1']).count()
    
    new_df = pd.concat([new_df, results])